*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: dimgrey;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
   
}
/* login form */

.main_container {
    background: rgba(255, 255, 255, 0.76);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    width: 320px;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
   
    
}

label {
    color: rgb(0, 0, 0);
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 5px;
}

.input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}
.passW{
    padding-top: 15px;
}

.btnlogin{
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(70, 55, 55, 0.2);
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* signup form  */
.maincontainer1{
    background: rgba(255, 255, 255, 0.76);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 60px;
    text-align: center;
    width: 450px;
}

.signupform {
display: flex;
justify-content: center;
align-items: center;
}
label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.btnregform{
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(70, 55, 55, 0.2);
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.noaccount{
    font-weight: bold;
    padding-top: 10px;

}
.account{
    font-weight: bold;
    padding-top: 10px;
    
}

